<h4><i class="fas fa-book-reader"> StoryBooks</i></h4>
<div class="section">
  <p class="lead">Create public and private stories from your Life</p>

</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darkern-1">
    <i class="fab fa-google left"> </i>
    Log in with Google
  </a>

</div>